.button {
    background-color: #1B1524; 
    color: white;
    padding: 12.5px 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    width: 70%;
    border: 2px solid #EA8597;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
  }

  .button:hover {
    cursor: pointer;
    background-color: #25223D;
    color: #EA8597;
  }