.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 10px;
    background-color: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    border: 3px solid #EF8395;
    color: #7951DD;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #FFF;
}

.firstItem {
    border-right: 2px solid #EF8395;
}

.title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.subTitle {
    font-weight: 600;
    color: #7951DD;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
    // background-color: rgb(255,255,255, 0.8);
    // text-shadow: 2px 2px #000;
}
